 .mycard{
    height: 660px;
  
  
  }
 .mycard .label-text{
    position: absolute;
    font-size: 22px;
    color: white;
    bottom: 50px;
    left: 50px;
  
  }
.img-card {
    height: 322px;
  
  
    box-sizing: border-box;
  }
  
 img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  @media (max-width: 768px) {
     .mycard{
      height: auto;
    
    
    }
     .img-card {
      height: 322px;
    
      margin-top: 10px;
      box-sizing: border-box;
    }
    .responsive-card{
      height: 322px !important;
      margin: 10px 6px;
    }
  
  
  }