/* footer */
.footer {
    background-color: #f8f8f8;
    padding: 4rem 0px;
    
    color: var(--text-color);
  }
  .footer .footer-container{
    width: 90%;
    margin: auto;
  
  }
  .phoneimg{
    width: 24px;
    height: 24px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .footer-section {
    display: flex;
    align-items: center;
  
    justify-content: space-between;
  }
  
  .footer-section .follow-us {
    display: flex;
    align-items: baseline;
  
  }
  .footer-section .follow-us .icon {
    /* color: var(--text-color); */
    margin-right: 10px;
  }
  .footer-section .follow-us ul {
    display: flex;
    gap: 4px;
  }
  
  .contact-info {
    display: flex;
    align-items: start;
  
    padding: 0px 18px;
    gap: 1rem;
    line-height: 1.6;
  }
  
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center;
  }
  
  .footer-column h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-block: 1rem;
  
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column a {

  }
  
  .footer-column a:hover {
    color: #333;
  }
  
  .newsletter-form {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .newsletter-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
  }
  
  .newsletter-form button {
    background-color: #FF7043;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .newsletter-form button:hover {
    background-color: #f56a3f;
  }
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .footer-columns {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  @media (max-width: 768px) {
   
    
    .footer-columns {
      grid-template-columns: 1fr;
    }
    .footer .footer-container{
      width: 98%;
      margin: auto;
    
    }
    .footer-section {
      flex-direction: column;
      align-items: center;
    }
  
      .contact-info p {
        font-size: 14px;
      }
      .footer-column a {
        font-size: 14px;
      }
  
      .newsletter-form input {
        width: 100%;
      }
  }