:root{
  --text-color: rgb(57, 67, 119) !important;
  --border-color:rgb(101,102,135);
  --main-color:rgb(235,102,43);
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 ;
  }
  
  header .logo img {
    width: 100px;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  header nav ul li {
    margin-right: 30px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #FF7043;
  }
  header .auth a {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  header .auth a:hover {
    color: #FF7043;
  }
  
  header .auth .login {
    border-radius: 40em;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px 20px;
  }
  
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  header nav .active{
    color:var(--main-color);
  }
  @media (max-width: 1200px) { 
    header .container {
     
      max-width: 96%;
      margin: 0 auto;
      padding: 0 ;
    }
    header nav ul li a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 15px;
      transition: color 0.3s;
    }
  }
  
  @media (max-width: 768px) {
    header nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      border-top: 1px solid #ddd;
      z-index: 10;
      
    }
  
    header nav ul.show {
      display: flex !important;
    
  
    }
  
    header nav ul li {
      margin: 10px 0;
      text-align: center;
    }
  
    header .menu-toggle {
      display: flex;
      z-index: 11;
    }
  
    header .auth {
      display: none;
    }
  }