
:root{
  --text-color: rgb(57, 67, 119);
  --border-color:rgb(101,102,135);
  --main-color:rgb(235,102,43);
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color)
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Jost", sans-serif !important;
}
.text-color{
  color:var(--text-color);
}
a{
  text-decoration: none !important;
}