@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap");

:root{
  --text-color: rgb(57,67,119);
  --border-color:rgb(101,102,135);
  --main-color:rgb(235,102,43);
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color)
}

body {
  font-family: "Jost", sans-serif;

}

/* Header */
header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 ;
}

header .logo img {
  width: 100px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


header nav ul li {
  margin-right: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #FF7043;
}
header .auth a {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

header .auth a:hover {
  color: #FF7043;
}

header .auth .login {
  border-radius: 40em;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px 20px;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  transition: transform 0.3s, opacity 0.3s;
}
header nav .active{
  color:var(--main-color);
}
@media (max-width: 1200px) { 
  header .container {
   
    max-width: 96%;
    margin: 0 auto;
    padding: 0 ;
  }
  header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    transition: color 0.3s;
  }
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 10;
    
  }

  header nav ul.show {
    display: flex !important;
  

  }

  header nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  header .menu-toggle {
    display: flex;
    z-index: 11;
  }

  header .auth {
    display: none;
  }
}
/*blog section*/
.blog-container{
  width: 90%;
  margin: auto;
  overflow-x: hidden !important;
}
.blog-section header{
  min-height: 85vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets//images//Blog//fahrul-azmi-r4qheYoY8Qg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  border-radius: 20px;
  border: none !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
 
}
.blog-section header .overlay{
  position: absolute;
  background-color: rgba(161, 161, 161, 0.6);
  left: 0;
  right: 0;
  /* border-radius: 20px; */
  top: 0;
  bottom: 0;
  
}
.blog-section header .header-content h1{
  color: white;
  letter-spacing: 2px;
  font-size: 53px;
  position: relative;
 

}
.blog-section header .header-content p{
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  position: relative;
}
.blog-section header .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none !important;
  width: 100%;
  height: auto;
  margin-bottom: -1px; 

}
.blog-section header .wave path {
  border: none !important;
  stroke: none !important;
  outline: none !important;
 

}
.blog-section .blogs .blogs-btns{
 
  display: flex;
  justify-content: center;

}
.blog-section .blogs .blogs-btns .blog-btn{
 
  text-transform: capitalize;
  margin-right: 15px;
  font-size: 19px;
  border: 1px solid rgb(240,240,240);
  border-radius: 25px;
  padding: 10px 20px;
  transition:  all .4s;

}
.blog-section .blogs .blogs-btns .blog-btn:hover{
  background-color:var(--main-color);
  border: none !important;
  color: white;


}
.blog-section .blogs .blogs-btns .blog-btn:focus{

 box-shadow: none;

}
.blog-section .blogs .blogs-btns .blog-btn.active{
  border: 1px solid var(--border-color);

}
.blog-section .blogs .blogs-cards .card{
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.blog-section .blogs .blogs-cards .card .card-img-top{
  border-radius: 20px;
  height: 320px;
  object-fit: fill;
}
.blog-section .blogs .blogs-cards .card .label{
 position: absolute;
 background-color: white;
 color: black;
 padding: 7px 13px;
 text-transform: capitalize;
 border-radius: 25px;
 left: 4%;
 top: 5%;
}
.blog-section .blogs .blogs-cards .card .card-body .date{
 
}
.blog-section .blogs .blogs-cards .card .card-body .by{
 
  padding: 0px 10px;
  border-left: 1px solid  var(--text-color);
}
.blog-section .blogs .blogs-cards .card .card-body  .card-text{
  font-size: 18px;
}

.blog-section .blogs .pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  padding: 0;
}

.blog-section .blogs .pagination li {
  margin: 0 5px;
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: all 0.3s ease;
}


.blog-section .blogs .pagination li.numb {
  background-color: white;
  color: #000;
}


.blog-section .blogs .pagination li.active {
  background-color:var(--main-color) ;
 
  color: white;
 
}


.blog-section .blogs .pagination li.btn {
  background-color: var(--main-color)!important;
  color: white;
  padding: 5px 13px !important;
}

.blog-section .blogs .pagination li.btn:hover {

}

.blog-section .blogs .pagination li:hover {
  background-color: #f1f1f1;
 
}


@media (max-width: 992px) { 
  .blog-section .blogs .blogs-btns{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .blog-section .blogs .blogs-btns .blog-btn{
   
    font-size: 17px;
 
    margin-bottom: 10px;
  
  }

 }


 @media (max-width: 576px){
  .blog-container{
    width: 100%;
    margin: auto;
  }
  .blog-section header .header-content h1{
   
    letter-spacing: 1px;
    font-size: 23px;
  
  }
  .blog-section header .header-content p{
    letter-spacing: 1px;
    font-size: 16px;
  
  }
  .blog-section .blogs .blogs-btns .blog-btn{
   
    font-size: 15px;
 
    margin-bottom: 10px;
  
  }
  .blog-section .blogs .blogs-cards .card .card-body  .card-text{
    font-size: 15px;
  }
 }
/* footer */
.footer {
  background-color: #f8f8f8;
  padding: 4rem 0px;
  margin-top: 4rem;
  color: var(--text-color);
}
.footer .footer-container{
  width: 90%;
  margin: auto;

}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-section {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.footer-section .follow-us {
  display: flex;
  align-items: baseline;

}
.footer-section .follow-us i {
  color: var(--text-color);
  margin-right: 10px;
}
.footer-section .follow-us ul {
  display: flex;
  gap: 4px;
}

.contact-info {
  display: flex;
  align-items: start;

  padding: 0px 18px;
  gap: 1rem;
  line-height: 1.6;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-block: 1rem;
}

.footer-column a {
  color: #FF7043;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  color: #333;
}

.newsletter-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.newsletter-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
}

.newsletter-form button {
  background-color: #FF7043;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #f56a3f;
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
 
  
  .footer-columns {
    grid-template-columns: 1fr;
  }
  .footer .footer-container{
    width: 98%;
    margin: auto;
  
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

    .contact-info p {
      font-size: 14px;
    }
    .footer-column a {
      font-size: 14px;
    }

    .newsletter-form input {
      width: 100%;
    }
}




