@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap");

:root{
  --text-color: rgb(57,67,119);
  --border-color:rgb(101,102,135);
  --main-color:rgb(235,102,43);
}
.text-color{
  color:var(--text-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color)
}
body {
  font-family: "Jost", sans-serif;

}
a{
  text-decoration: none;
}
.explore-container{
  width: 90%;
  margin: auto;
  overflow-x: hidden !important;
}
.explore-section h1{
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 2.2rem;
}
.explore-section .filter-btn{
  background-color: var(--text-color);
  text-transform: capitalize;
  margin-left: 5px;
  color: white;
  display: none;
}
.explore-section .filter-btn .fa-filter{
  color: white;
  margin-left:7px ;
}
/*accordin style*/


.explore-section .filter-cat .travel-date{
  background-color: var(--main-color);
  color: white;
  padding: 20px;
 
}




.explore-section .filter-cat .accordion-header .accordion-button{
  font-size: 18px !important;
  font-weight: 600;
  box-shadow: none !important;
  border: none !important;
}
.explore-section .filter-cat .accordion-header .accordion-button:not(.collapsed){
  background-color: transparent !important;
  color: var(--text-color) !important;
  border-bottom: none !important;

}
.explore-section .accordion .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23394377'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.explore-section .filter-cat .accordion-header .accordion-button:not(.collapsed):focus{
  box-shadow: none !important;
  border: none !important;

}
.explore-section .accordion .accordion-body{
  padding-top: 5px !important;
}
.explore-section .accordion-body input:checked{
  background-color: var(--text-color); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/*hotels style*/
.explore-section .hotels .hotels-cards{

}
.explore-section .hotels .hotels-cards img{
  object-fit: cover;
  border-radius: 20px;
}
.explore-section .hotels .hotels-cards .offer{
  position: absolute;
  left: 5%;
  top: 6%;
  background-color: var(--main-color);
  padding: 6px;
  border-radius: 10px;
  color: white;
}
.explore-section .hotels .hotels-cards .love{
  position: absolute;
  top: 6%;
  right: 6%;
  background-color: white;
  padding: 6px 10px;
  border-radius: 50%;
  color: white;
}
.explore-section .hotels .hotels-cards .featured{
  position: absolute;
  left: 5%;
  top: 6%;
  background-color: var(--text-color);
  padding: 6px;
  border-radius: 10px;
  color: white;
}
.explore-section .hotels .hotels-cards .love .fa-heart {
  color: black;
  font-size: 17px;
}
.explore-section .hotels .hotels-cards .card-body .fa-star{
    color: #e2ad64;
}
.explore-section .hotels .hotels-cards .card-body .features{
  text-transform: capitalize;
  color: var(--main-color);
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper{
  border-left: 1px solid #d5dae2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .duration{
  text-transform: capitalize;
 
  color: var(--text-color);
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .price-details{
  text-align: center;
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .price-details del{
  color: #d5dae2;
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .price-details .price{
  font-size: 19px;
  font-weight: 500;
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .price-details .details-btn{
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  text-transform: capitalize;
  padding: 17px 33px ;
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .price-details .details-btn a{
  color: var(--main-color);
 
}
.explore-section .hotels .hotels-cards .card-body .flex-wrapper .price-details .details-btn i{
  transform: rotate(-45deg);
  margin-left: 5px;
}


.explore-section .hotels .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.explore-section .hotels .pagination li {
  margin: 0 5px;
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: all 0.3s ease;
}


.explore-section .hotels .pagination li.numb {
  background-color: white;
  color: #000;
}


.explore-section .hotels .pagination li.active {
  background-color:var(--main-color) ;
  color: white;
 
}


.explore-section .hotels .pagination li.btn {
  background-color: var(--main-color)!important;
  color: white;
  padding: 5px 13px !important;
}
.explore-section .hotels .pagination li.btn:hover {

}

.explore-section .hotels .pagination li:hover {
  background-color: #f1f1f1;
 
}


/* footer */
.footer {
  background-color: #f8f8f8;
  padding: 4rem 0px;
  margin-top: 4rem;
  color: var(--text-color);
}
.footer .footer-container{
  width: 90%;
  margin: auto;

}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-section {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.footer-section .follow-us {
  display: flex;
  align-items: baseline;

}
.footer-section .follow-us i {
  color: var(--text-color);
  margin-right: 10px;
}
.footer-section .follow-us ul {
  display: flex;
  gap: 4px;
}

.contact-info {
  display: flex;
  align-items: start;

  padding: 0px 18px;
  gap: 1rem;
  line-height: 1.6;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-block: 1rem;
}

.footer-column a {
  color: #FF7043;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  color: #333;
}

.newsletter-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.newsletter-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
}

.newsletter-form button {
  background-color: #FF7043;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #f56a3f;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) { 
  .explore-container{
    width: 95%;
    margin: auto;
    overflow-x: hidden !important;
  }
}

@media (max-width: 991px) { 
  .explore-section .filter-cat{

    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.5s ease, visibility 0.4s ease; 
    height: 0;
    overflow: hidden; 
    }
    .explore-section  .filter-cat.show {
  
        visibility: visible; 
        opacity: 1; 
        height: auto; 
     
    }
  .explore-section .filter-btn{
   
    display: block;
  }
}
@media (max-width: 768px) {
  .explore-section .hotels .hotels-cards .card-body .flex-wrapper{
    border-top: 1px solid #d5dae2;
    padding-top: 20px;
    border-left: none;
 
  }
  .explore-section h1{
 
    font-size: 1.5rem;
  }
  .footer-columns {
    grid-template-columns: 1fr;
  }
  .footer .footer-container{
    width: 98%;
    margin: auto;
  
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

    .contact-info p {
      font-size: 14px;
    }
    .footer-column a {
      font-size: 14px;
    }

    .newsletter-form input {
      width: 100%;
    }
}



/* Header */
header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 ;
}

header .logo img {
  width: 100px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


header nav ul li {
  margin-right: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #FF7043;
}
header .auth a {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

header .auth a:hover {
  color: #FF7043;
}

header .auth .login {
  border-radius: 40em;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px 20px;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  transition: transform 0.3s, opacity 0.3s;
}
header nav .active{
  color:var(--main-color);
}
@media (max-width: 1200px) { 
  header .container {
   
    max-width: 96%;
    margin: 0 auto;
    padding: 0 ;
  }
  header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    transition: color 0.3s;
  }
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 10;
    
  }

  header nav ul.show {
    display: flex !important;
  

  }

  header nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  header .menu-toggle {
    display: flex;
    z-index: 11;
  }

  header .auth {
    display: none;
  }
}
 