@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap");

*{
    text-decoration: none;
    list-style: none;
}
:root{
  --text-color: rgb(57,67,119);
  --border-color:rgb(101,102,135);
  --main-color:rgb(235,102,43);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color)
}

body {
  font-family: "Jost", sans-serif;

}
a{
  text-decoration: none;
}
.mycontainer{
  max-width: 90%;
  margin: 0 auto;
}
/* Header */
header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 ;
}

header .logo img {
  width: 100px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


header nav ul li {
  margin-right: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #FF7043;
}
header .auth a {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

header .auth a:hover {
  color: #FF7043;
}

header .auth .login {
  border-radius: 40em;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px 20px;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  transition: transform 0.3s, opacity 0.3s;
}
header nav .active{
  color:var(--main-color);
}
@media (max-width: 1200px) { 
  header .container {
   
    max-width: 96%;
    margin: 0 auto;
    padding: 0 ;
  }
  header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    transition: color 0.3s;
  }
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 10;
    
  }

  header nav ul.show {
    display: flex !important;
  

  }

  header nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  header .menu-toggle {
    display: flex;
    z-index: 11;
  }

  header .auth {
    display: none;
  }
}
  
/* footer */
.footer {
  background-color: rgb(5,7,60);
  padding: 4rem 0px;

  color:white;
}
.footer .footer-container{
  width: 90%;
  margin: auto;

}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-section {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.footer-section .follow-us {
  display: flex;
  align-items: baseline;

}
.footer-section .follow-us i {
  color: white;
  margin-right: 10px;
}
.footer-section .follow-us ul {
  display: flex;
  gap: 4px;
}

.contact-info {
  display: flex;
  align-items: start;
  color: white;
  padding: 0px 18px;
  gap: 1rem;
  line-height: 1.6;
}
.contact-info a {
  color: white;
}
.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-block: 1rem;
}

.footer-column a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  color: var(--main-color);
}

.newsletter-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.newsletter-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
}

.newsletter-form button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.newsletter-form button:hover {
  background-color: white;
  color: var(--text-color);
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
 
  
  .footer-columns {
    grid-template-columns: 1fr;
  }
  .footer .footer-container{
    width: 98%;
    margin: auto;
  
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

    .contact-info p {
      font-size: 14px;
    }
    .footer-column a {
      font-size: 14px;
    }

    .newsletter-form input {
      width: 100%;
    }
}


/*adventure styles*/
.adventure{
  min-height: 85vh;
  background-image: url('../assets/images/home-page/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.adventure .adventure-content{
  width: 65%;

  margin: 50px auto;


}
.adventure .adventure-content h1{
  font-size: 5rem;
  text-transform: capitalize;
  background: linear-gradient(to right, #ff7f50, #6a5acd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.adventure .adventure-content .search-container{
  background-color: white;
  border-radius: 50em;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
}
.adventure .adventure-content .search-container  i:not(.fa-search) {
  background-color: rgb(245, 234, 230);
  padding: 14px;
  border-radius: 50%;
}
.adventure .adventure-content .search-container .fa-search {
  background-color: var(--main-color);
  padding: 14px;
  color: white;
  border-radius: 50%;
}
.adventure .adventure-content .search-container .text-container{

display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 10px;

}
.adventure .adventure-content .search-container .text-container h6{
  text-transform: capitalize;
  margin-bottom: 0px;
  color: var(--text-color);
}
.adventure .adventure-content .search-container .text-container span{
  color: rgb(152, 157, 163);
  text-transform: capitalize;
  font-size: 15px;
}
@media (max-width: 991px) {
  .adventure .adventure-content{
    width: 85%;
    /* background-color: red; */
    margin: 30px auto;
  
  
  }
}
@media (max-width: 768px) {
  .mycontainer {
      width: 95% !important;

  }
  .adventure .adventure-content{
    width: 100%;
    /* background-color: red; */
    margin: 30px auto;
  
 
  }
  .adventure .adventure-content h1{
    font-size: 4rem;

  }
  /* .adventure .adventure-content .search-container{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    
    
  } */

}
@media (max-width: 576px) {
  .mycontainer {
      width: 95% !important;

  }
  .adventure .adventure-content{
    width: 100%;
    /* background-color: red; */
    margin: 30px auto;
  
 
  }
  .adventure .adventure-content h1{
    font-size: 2rem;

  }
  .adventure .adventure-content .search-container{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    
    
  }

}

/*  start popular styles*/
.popular{
  margin-top: 70px;
}
.popular h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  color:var(--text-color);
}
.popular span {
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);
}
.popular i {
  transform: rotate(-45deg);
  cursor: pointer;
  color: var(--text-color);
}
.popular .mycard{
  height: 660px;


}
.popular .mycard .label-text{
  position: absolute;
  font-size: 22px;
  color: white;
  bottom: 50px;
  left: 50px;

}
.popular .img-card {
  height: 322px;


  box-sizing: border-box;
}

.popular img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
@media (max-width: 768px) {
  .popular .mycard{
    height: auto;
  
  
  }
  .popular .img-card {
    height: 322px;
  
    margin-top: 10px;
    box-sizing: border-box;
  }
  .responsive-card{
    height: 322px !important;
    margin: 10px 6px;
  }


}
/*  end popular styles*/

/*  start tourZ styles*/
.tourZ{
  margin-top: 70px;
}
.tourZ .tourz-header{
  margin-bottom: 20px;
  color: var(--text-color);
}
.tourZ i {
    color: var(--main-color);
    font-size: 55px;
    margin-bottom: 30px;
} 
.tourZ h4 {
  color: var(--text-color);
  text-transform: capitalize;
}
.tourZ p {
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 1.7;
  font-size: 17px;
}
/*  end tourZ styles*/

/*  start featured styles*/
.featured{
  margin-top: 70px;
  background-color: rgb(254,247,244);
  padding: 150px 0px;
}
.featured h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  color:var(--text-color);
}
.featured span {
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);
}
.featured .fa-arrow-right-long {
  transform: rotate(-45deg);
  cursor: pointer;
  color: var(--text-color);
}
.featured .card {
  border-radius: 15px;
  cursor: pointer;
}
.featured .card .card-img-top{
  height: 280px;
  object-fit: fill;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.featured .card .card-body{
  position: relative;
}
.featured .card .card-body .fa-heart{
  color: black;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: 20px;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  transition: color .2s ease-in-out;
}
.featured .card .card-body .fa-heart:hover{
  color: var(--main-color);
}
.featured .card .header .fa-location-dot ,  .featured .card .header span {
  color: rgb(190, 192, 194);
 
  text-transform: capitalize;
}
.featured .card .card-body p{
  color: var(--text-color);
  font-size: 21px;
  margin-top: 7px;
}
.featured .card .card-body .rating i{
color: #e2ad64;
}
.featured .card .card-body .trip-info{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(232, 235, 238);
}
.featured .card .card-body .trip-info p{
  font-size: 17px;
}
.featured .card .card-body .fa-clock{
  color: var(--text-color);
}
/*  end featured styles*/
/*  start trending styles*/

.trending{
 
  background-color: rgb(5,7,60);
  padding: 150px 0px;
}
.trending h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  color:white;
}
.trending span {
  font-size: 18px;
  cursor: pointer;
  color: white;
}
.trending .fa-arrow-right-long {
  transform: rotate(-45deg);
  cursor: pointer;
  color: white;
}

.trending .card-img{
  height: 550px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;

}
.trending .card-img img {
  object-fit: fill;
  border-radius: 15px;
  transition: all .4s ease-in-out;
}
.trending .card-img .label-text{
position: absolute;
bottom: 50px;
text-align: center;
color: white;
left: 50%;
transform: translateX(-50%);
}
.trending .card-img:hover img{
  transform: scale(1.1);
}
/*  end featured styles*/
/*  start articles styles*/

.articles{
 
  margin: 100px 0px;
}
.articles h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  color:var(--text-color);
}
.articles span {
  font-size: 18px;
  cursor: pointer;
  color:var(--text-color);
}
.articles .fa-arrow-right-long {
  transform: rotate(-45deg);
  cursor: pointer;
  color:var(--text-color);
}
.articles .card{
  border: none;
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;

}


.articles .card .card-img-top{
  border-radius: 20px;
  height: 320px;
  object-fit: fill;

}

.articles .card .label{
 position: absolute;
 background-color: white;
 color: black;
 padding: 7px 13px;
 text-transform: capitalize;
 border-radius: 25px;
 left: 4%;
 top: 5%;
}

.articles .card .card-body .by{
 
  padding: 0px 10px;
  border-left: 1px solid  var(--text-color);
}
.articles .card .card-body  .card-text{
  font-size: 18px;
  color: var(--text-color);
}
/*  end articles styles*/
/*  start offer styles*/

.offer{
  background-color:var(--main-color);
  color: white;
  min-height: 550px;
  background-image: url('../assets/images/home-page/offer2-removebg.png');
  background-repeat: no-repeat;
  background-position: 90% 10%;
 
}
.offer .offer-content{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center; 
  padding: 20px; 
  min-height: 550px; 
}
.offer .offer-content input {
  width: 350px !important;
} 
.offer .offer-content .send-btn {
  background-color: white;
  color: var(--text-color);
  text-transform: capitalize;
  padding: 10px 30px;
}
.offer .offer-content button i {
  transform: rotate(-45deg);
  cursor: pointer;
  color:var(--text-color);
}

/*  end offer styles*/