.mycontainer{
    max-width: 90%;
    margin: 0 auto;
  }
  
/*adventure styles*/
.adventure{
    min-height: 85vh;
    background-image: url('/src/assets/images/home-page/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  .adventure .adventure-content{
    width: 65%;
  
    margin: 50px auto;
  
  
  }
  .adventure .adventure-content h1{
    font-size: 5rem;
    text-transform: capitalize;
    background: linear-gradient(to right, #ff7f50, #6a5acd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .adventure .adventure-content .search-container{
    background-color: white;
    border-radius: 50em;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
  }
  .adventure .adventure-content .search-container  .header-icon:not(.fa-search) {
    background-color: rgb(245, 234, 230);
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
  }
  .adventure .adventure-content .search-container .fa-search {
    background-color: var(--main-color);
    padding: 14px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  .adventure .adventure-content .search-container .text-container{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  
  }
  .adventure .adventure-content .search-container .text-container h6{
    text-transform: capitalize;
    margin-bottom: 0px;
    color: var(--text-color);
  }
  .adventure .adventure-content .search-container .text-container span{
    color: rgb(152, 157, 163);
    text-transform: capitalize;
    font-size: 15px;
  }
  @media (max-width: 991px) {
    .adventure .adventure-content{
      width: 85%;
      /* background-color: red; */
      margin: 30px auto;
    
    
    }
  }
  @media (max-width: 768px) {
    .mycontainer {
        width: 95% !important;
  
    }
    .adventure .adventure-content{
      width: 100%;
      /* background-color: red; */
      margin: 30px auto;
    
   
    }
    .adventure .adventure-content h1{
      font-size: 4rem;
  
    }
  
  }
  @media (max-width: 576px) {
    .mycontainer {
        width: 95% !important;
  
    }
    .adventure .adventure-content{
      width: 100%;
      /* background-color: red; */
      margin: 30px auto;
    
   
    }
    .adventure .adventure-content h1{
      font-size: 2rem;
  
    }
    .adventure .adventure-content .search-container{
      background-color: white;
      width: 70%;
      margin: auto;
      border-radius: 10px;
      padding: 15px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      gap: 20px;
      flex-wrap: wrap;
      
      
    }
  
  }


  
/*  start popular styles*/
.popular{
    margin-top: 70px;
  }
  .popular h2{
    text-transform: capitalize;
    margin-bottom: 20px;
    color:var(--text-color);
  }
  .popular span {
    font-size: 18px;
    cursor: pointer;
    color: var(--text-color);
  }
  .popular .popular-icon {
    transform: rotate(-45deg);
    cursor: pointer;
    color: var(--text-color);
  }
  .popular .mycard{
    height: 660px;
   
    border-radius: 20px;
  
  }
  .popular .mycard .label-text{
    position: absolute;
    font-size: 22px;
    color: white;
    bottom: 50px;
    left: 50px;
  
  }
  .popular .img-card {
    height: 322px;
  
   

  }
  
  .popular img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
 
 
  @media (max-width: 768px) {
    .popular .mycard{
      height: auto;
    
    
    }
    .popular .img-card {
      height: 322px;
    
      margin-top: 10px;
      box-sizing: border-box;
    }
    .popular .responsive-card{
      height: 322px !important;
      margin: 10px 6px;
    }
  
  
  }
/*  end popular styles*/
  
/*  start tourZ styles*/
.tourZ{
    margin-top: 70px;
  }
  .tourZ .tourz-header{
    margin-bottom: 20px;
    color: var(--text-color);
  }
  .tourZ .tourz-icon {
      color: var(--main-color);
      font-size: 55px;
      margin-bottom: 30px;
  } 
  .tourZ h4 {
    color: var(--text-color);
    text-transform: capitalize;
  }
  .tourZ p {
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.7;
    font-size: 17px;
  }
  /*  end tourZ styles*/
  /*  start featured styles*/
.featured{
    margin-top: 70px;
    background-color: rgb(254,247,244);
    padding: 150px 0px;
  }
  .featured h2{
    text-transform: capitalize;
    margin-bottom: 20px;
    color:var(--text-color);
  }
  .featured span {
    font-size: 18px;
    cursor: pointer;
    color: var(--text-color);
  }
  .featured .fa-arrow-right-long {
    transform: rotate(-45deg);
    cursor: pointer;
    color: var(--text-color);
  }
  .featured .card {
    border-radius: 15px;
    cursor: pointer;
  }
  .featured .card .card-img-top{
    height: 280px;
    object-fit: fill;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .featured .card .card-body{
    position: relative;
  }
  .featured .card .card-body .fa-heart{
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    right: 20px;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    transition: color .2s ease-in-out;
  }
  .featured .card .card-body .fa-heart:hover{
    color: var(--main-color);
  }
  .featured .card .header .fa-location-dot ,  .featured .card .header span {
    color: rgb(190, 192, 194);
   
    text-transform: capitalize;
  }
  .featured .card .card-body p{
    color: var(--text-color);
    font-size: 21px;
    margin-top: 7px;
  }
  .featured .card .card-body .rating i{
  color: #e2ad64;
  }
  .featured .card .card-body .trip-info{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(232, 235, 238);
  }
  .featured .card .card-body .trip-info p{
    font-size: 17px;
  }
  .featured .card .card-body .fa-clock{
    color: var(--text-color);
  }
  /*  end featured styles*/
  /*  start trending styles*/

.trending{
 
  background-color: rgb(5,7,60);
  padding: 150px 0px;
}
.trending h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  color:white;
}
.trending span {
  font-size: 18px;
  cursor: pointer;
  color: white;
}
.trending .fa-arrow-right-long {
  transform: rotate(-45deg);
  cursor: pointer;
  color: white;
}

.trending .card-img{
  height: 550px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;

}
.trending .card-img img {
  object-fit: fill;
  border-radius: 15px;
  transition: all .4s ease-in-out;
}
.trending .card-img .label-text{
position: absolute;
bottom: 50px;
text-align: center;
color: white;
left: 50%;
transform: translateX(-50%);
}
.trending .card-img:hover img{
  transform: scale(1.1);
}
/*  end featured styles*/
.articles{
 
  margin: 100px 0px;
}
.articles h2{
  text-transform: capitalize;
  margin-bottom: 20px;
  color:var(--text-color);
}
.articles span {
  font-size: 18px;
  cursor: pointer;
  color:var(--text-color);
}
.articles .fa-arrow-right-long {
  transform: rotate(-45deg);
  cursor: pointer;
  color:var(--text-color);
}
.articles .card{
  border: none;
}

/*  end articles styles*/
/*  start offer styles*/

.offer{
  background-color:var(--main-color);
  color: white;
  min-height: 550px;
  background-image: url('../../assets/images/home-page/offer2-removebg.png');
  background-repeat: no-repeat;
  background-position: 90% 10%;
 
}
.offer .offer-content{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center; 
  padding: 20px; 
  min-height: 550px; 
}
.offer .offer-content input {
  width: 350px !important;
} 
.offer .offer-content .send-btn {
  background-color: white;
  color: var(--text-color);
  text-transform: capitalize;
  padding: 10px 30px;
}
.offer .offer-content button .offer-icon {
  transform: rotate(-45deg);
  cursor: pointer;
  margin-left: 10px;
  color:var(--text-color);
}

/*  end offer styles*/